# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# logs
# log
logs

# Editors
*~
.*.swp
.#*
\#*#

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.out
coverage.txt
cover.out
.idea
.idea/*
bin/

vendor

# custom
snake
conf/config.yaml
conf/config.local.yaml

# vue ignore

.DS_Store
vue/node_modules/
vue/dist/

# local env files
vue/.env.local
vue/.env.*.local

# Log files
vue/npm-debug.log*
vue/yarn-debug.log*
vue/yarn-error.log*

# Editor directories and files
vue/.idea
vue/.vscode
vue/*.suo
vue/*.ntvs*
vue/*.njsproj
vue/*.sln
vue/*.sw*

nohup.out
data/